[submodule "Utils/UserDefaultsUtil"]
	path = Utils/UserDefaultsUtil
	url = https://github.com/AsioOtus/MT-UserDefaultsUtil.git
[submodule "Utils/KeychainUtil"]
	path = Utils/KeychainUtil
	url = https://github.com/AsioOtus/MT-KeychainUtil.git
